.article-list-page {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 30px;
  box-sizing: border-box;

  .article-loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 5;

    .article-loading-box {
      width: 200px;
      height: 200px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .previewPhoneTitle {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    line-height: 50px;
    margin-bottom: 32px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
  }

  .previewPhoneAuthBox {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    box-sizing: border-box;

    .previewPhoneAuth {
      font-size: 20px;
      margin-right: 50px;
    }

    .previewPhoneTime {
      font-size: 20px;
    }
  }

  .title-img {
    width: 100%;
    height: auto;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 40px;

    .title-img-img {
      width: 100%;
      height: auto;
    }
  }

  .previewContent {
    width: 100vw;
    height: auto;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 65px;
    overflow: hidden;

    p {
      line-height: 50px;
      margin: 0;
    }
  }

  .other-article {
    width: 100%;
    height: auto;

    .other-article-title {
      width: 100%;
      text-align: left;
      font-size: 36px;
      font-weight: bold;
      color: rgba(44, 62, 80, 1);
    }

    .other-article-item {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 40px 0;
      box-sizing: border-box;
      border-bottom: 1px solid #dcdcdc;

      .other-article-item-img {
        width: 150px;
        height: 150px;
        border-radius: 12px;
        margin-right: 30px;
        overflow: hidden;

        .other-article-item-img-img {
          width: 100%;
          height: 100%;
        }
      }

      .other-article-item-info {
        width: calc(100% - 200px);
        height: auto;

        .other-article-item-info-title {
          width: 100%;
          line-height: 45px;
          font-size: 28px;
          color: rgba(44, 62, 80, 1);
          line-height: 48px;
          margin-bottom: 20px;
        }

        .other-article-item-info-date {
          width: 100%;
          height: 20px;
          font-size: 20px;
          color: rgba(152, 166, 173, 1);
          line-height: 1;
        }
      }
    }

    .other-article-more {
      width: 100%;
      height: 130px;
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: rgba(68, 134, 247, 1);
      line-height: 1;
    }
  }


}